<h2>Добавить узел</h2>
<form action="control.php" method="post">
	<input type="text" name="ip"><label for="ip">IP</label>
	<br><input type="text" name="descr"><label for="descr">Описание</label>	
	<br><input type="checkbox" name="cat"><label for="cat">Категория</label>	
	<input type="hidden" name="action" value="add">
	<input type="hidden" name="parent" value="<?=$this->h_parent?>">
	<br><input type="submit" value="Добавить">
</form>