<script type="text/javascript"> 
	var oTable;

	$(document).ready(function() {
		$('.trunc').truncate({max_length: 28});
		oTable = $('#history_table').dataTable( {
			"bPaginate": true,
			"aaSorting": [[1, 'desc']],
		} );
	} );

</script>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="history_table"> 
	<thead> 
		<tr> 
			<th>Дата</th> 
			<th>Статус</th> 
			<th>Лог</th> 
		</tr> 
	</thead> 
	<tbody> 
		<? foreach($this->history as $row): ?>
			<tr <? if($row['status'] == "UP"): ?> class="gradeA" <? else: ?> class="gradeX" <? endif; ?>>
				<td><?=$row['date']?></td>
				<td><?=$row['status']?></td>
				<td>
					<pre class="trunc"><?=$row['log']?></pre>
				</td>
 			</tr>
		<? endforeach; ?>
	</tbody> 
</table>