<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<?=$this->_styles?>
<?=$this->_scripts?>
<title><?=$this->title?></title> 
</head>
	<FRAMESET cols="15%,85%">
	<FRAME id="menu" name="menu" src="tree.php">
	<FRAME id="monitor" name="monitor" src="monitor.php">
	</FRAMESET>
</html>