<?$this->load("header")?>

<button id="refresh" onclick="javascript:window.location.reload()">Обновить</button>
<button id="add">Добавить</button> 
<? if($this->hostid != 0): ?>
	<button id="removecat">Удалить категорию</button>
<? endif; ?> 
<script type="text/javascript"> 
	$(function() {
		$("#dialog").dialog({
			modal: true,
			autoOpen: false,
			width: 740,
			height: 500,
			buttons: {
				Close: function() {
					$(this).dialog('close');
				}
			}
		});

		$('#add').click(function() {
			var href="control.php?action=add&parent=<?=$this->hostid?>";
			//console.log(href);
			$('#content').html("Загрузка... <img src=\"images/ajax.gif\">");
			//console.log($('#dialog'));
			$('#dialog').dialog("open");
			$.ajax({
				url: href,
				success: function(data) {
					$('#content').html(data);
				}
			});
			return false;			
		});

		$('#removecat').click(function() {
			var href="control.php?action=removecat&hostid=<?=$this->hostid?>";
			//console.log(href);
			$('#content').html("Загрузка... <img src=\"images/ajax.gif\">");
			//console.log($('#dialog'));
			$('#dialog').dialog("open");
			$.ajax({
				url: href,
				success: function(data) {
					$('#content').html(data);
				}
			});
			return false;			
		});

		$('.ping, .traceroute, .history, .remove').click(function() {
			var href=$(this)[0].href;
			//console.log(href);
			$('#content').html("Загрузка... <img src=\"images/ajax.gif\">");
			//console.log($('#dialog'));
			$('#dialog').dialog("open");
			$.ajax({
				url: href,
				success: function(data) {
					$('#content').html(data);
				}
			});
			return false;
		});

		$('#hosts_table').dataTable( {
			"bPaginate": false
		} );

		<? if(!$this->norefresh): ?>
			window.parent.frames["menu"].location.reload();
		<? endif; ?>
	});

</script> 
 
<div id="dialog" title="control">
	<p id="content">Загрузка... <img src=\"images/ajax.gif\"></p>
</div>


<? function getSubhosts($hosts){ ?>
	<? foreach($hosts as $host): ?>
			<? if($host['is_category'] != 1): ?>
				<tr <? if($host['status'] == "DOWN"): ?> class="gradeX" <? else: ?> class="gradeA" <? endif; ?> > 
					<td><?=$host['descr']?></td> 
					<td class="center"><?=$host['ip']?></td> 
					<td class="center"><?=$host['status']?></td>
					<td class="center">
						<a class="ping" href="control.php?ip=<?=$host['ip']?>&action=ping">
							<img src="images/ping.gif" border=0 alt="Ping" title="Ping">
						</a>
						&nbsp;&nbsp;
						<a class="traceroute" href="control.php?ip=<?=$host['ip']?>&action=traceroute">
							<img src="images/traceroute.gif" border=0 alt="Traceroute" title="Traceroute">
						</a>
						&nbsp;&nbsp;
						<a class="history" href="control.php?hostid=<?=$host['hostid']?>&action=history">
							<img src="images/history.gif" border=0 alt="История" title="История">
						</a>
						&nbsp;&nbsp;
						<a class="remove" href="control.php?hostid=<?=$host['hostid']?>&ip=<?=$host['ip']?>&action=remove">
							<img src="images/remove.gif" border=0 alt="Удалить" title="Удалить">
						</a>
					</td>
					<td class="center"><?=$host['status_changed']?></td>
				</tr> 
			<? else: ?>
				<!--<td><span class="folder"><?=$host['descr']?></span></td> 
				<td></td> 
				<td></td>--> 
			<? endif; ?>
		<? if($host['is_category'] == 1) getSubhosts($host['childs']); ?>
	<? endforeach; ?>
<? } ?>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="hosts_table"> 
	<thead> 
		<tr> 
			<th>Описание</th> 
			<th>IP</th> 
			<th>Статус</th> 
			<th>Управление</th> 
			<th>Последние изменения</th> 
		</tr> 
	</thead> 
	<tbody> 
	<? getSubhosts($this->hosts) ?> 
	</tbody> 
</table>

<?$this->load("footer")?>