<center>
	Вы действительно хотите удалить '<?=$this->ip?>'?<br><a href="control.php?action=delete&hostid=<?=$this->hostid?>">Да</a> или <a href="javascript:$('#dialog').dialog('close')">Нет</a>
</center>
