<?$this->load("header")?>

<? function showCategory($hosts){ ?>
	<ul>
	<? foreach($hosts as $host): ?>
		<? if($host['is_category'] == 1): ?>
			<li id="host_<?=$host['hostid']?>" rel="category">
				<a href="monitor.php?hostid=<?=$host['hostid']?>&norefresh" target="monitor">
					<ins> </ins>
					<?=$host['descr']?> (<?=intval($host["childs"]['up'])?>/<?=($host["childs"]["up"]+$host["childs"]["down"])?>)
				</a>
				<? showCategory($host['childs']) ?>
			</li>
		<? else: ?>
			<!--
				<li id="host_<?=$host['hostid']?>" rel="host<?=$host['status']?>"><a href="#"><ins> </ins><?=$host['descr']?> (<?=$host['ip']?>)</a></li>
			-->
		<? endif; ?>
	<? endforeach; ?>
	</ul>
<? } ?>

<div id="tree">
	<? showCategory($this->hosts) ?>
</div>

<script type="text/javascript">
	$(function () { 
		
		$("#tree").tree({
			ui : {
				theme_name : "apple"
			},

			plugins : {
				cookie : { prefix : "jstree_" },
			},

			types : {
				"category" : {
					valid_children : [ "hostup", "hostdown" ],
					max_children : 0,
					clickable	: true,
					renameable	: false,
					deletable	: false,
					creatable	: false,
					draggable	: false,
				},
				"hostup" : {
					// the following three rules basically do the same
					valid_children : "none",
					max_children : 0,
					max_depth :0,
					icon : { 
						image : "images/up.gif"
					}
				},
				"hostdown" : {
					// the following three rules basically do the same
					valid_children : "none",
					max_children : 0,
					max_depth :0,
					icon : { 
						image : "images/down.gif"
					}
				}
			},

			callback: {
				onselect: function(NODE, TREE_OBJ) { 	
					var src=$($(NODE)[0].innerHTML)[0].href;
					//console.log(src);
					window.parent.frames["monitor"].location.href = src;
				}
			}
		});
		
	});
</script>

<style> 
	#bn {display:block;}
	#bt {display:block;}
</style> 

<?$this->load("footer")?>